@page "/"

<PageTitle>Home</PageTitle>
<link href="css/componentes.css" rel="stylesheet" />
<h1>El siguiente mes te ofrecemos</h1>
<div class="mb-3">
    <Button @onclick="ShowGrid" class="@((showGrid) ? "active" : "")" Color="ButtonColor.Secondary"><Icon Name="IconName.Grid" /></Button>
    <Button @onclick="ShowTable" class="@((!showGrid) ? "active" : "")" Color="ButtonColor.Secondary"><Icon Name="IconName.ListTask"></Icon></Button>
</div>
@if (showGrid){
<div class="row" >
@foreach (var item in tarjetas)
{
    <div class="col-sm-4 mb-3">
    <Card Style="width:22rem;">
        <img class="rounded-top " src=@item.img height="200vh" />
        <CardBody >
            <CardTitle>@item.curso</CardTitle>
                <CardSubTitle Class="mb-2 text-muted">@item.local</CardSubTitle>
                        <CardSubTitle Class="mb-2 text-muted">S/.@item.costo.ToString("0.00")</CardSubTitle>
                        <CardSubTitle Class="mb-2 text-muted"> @item.inicio.ToString(@"hh\:mm") - @item.final.ToString(@"hh\:mm")</CardSubTitle>
            <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Matricularse</Button>
        </CardBody>
    </Card>
    </div>
}
</div>
}
else{
<Grid TItem="Tarjeta"
      Class="table table-hover  table-bordered table-striped"
      Data="tarjetas"
      AllowPaging="true"
      PageSize="8"
      HeaderRowCssClass="custom-header-grid"
      Responsive="true">

        <GridColumns>
            <GridColumn TItem="Tarjeta" HeaderText="Curso" PropertyName="curso">
                @context.curso
            </GridColumn>
            <GridColumn TItem="Tarjeta" HeaderText="Costo" PropertyName="costo">
                S/.@context.costo.ToString("0.00") 
            </GridColumn>
            <GridColumn TItem="Tarjeta" HeaderText="Local" PropertyName="local">
                @context.local
            </GridColumn>
            <GridColumn TItem="Tarjeta" HeaderText="Horario" PropertyName="horario">
                @context.inicio.ToString(@"hh\:mm") - @context.final.ToString(@"hh\:mm")<!-- Muestra solo la fecha -->
            </GridColumn>
            <GridColumn TItem="Tarjeta" Context="tarjeta" HeaderText="Matricula">
                <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Matricularse</Button>
            </GridColumn>

        </GridColumns>
</Grid>
}
@code{
}