@page "/Periodo"
<link href="css/componentes.css" rel="stylesheet" />
<h1>PERIODO</h1>
<Modal @ref="modal" UseStaticBackdrop="true" CloseOnEscape="false" HeaderCssClass="custom-modal-header">
    <HeaderTemplate>
        @TituloModal
    </HeaderTemplate>
    <BodyTemplate >    
            <div class="row mb-3 justify-content-center" >
            <div class="col-md-3">
                <label for="codigo" class="form-label">Código:</label>
            </div>
            <div class="col-md-6">
                <input type="month" @onchange="CambioMes" class="form-control" id="codigo"/>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-md-3 ">
                <label for="fechaInicio" class="form-label">Fecha Inicio:</label>
            </div>
            <div class="col-md-6 ">
                <input type="date" @bind="primerDiaMes" class="form-control" id="fechaInicio" placeholder="Enter Date" />
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-md-3">
                <label for="fechaFin" class="form-label">Fecha Fin:</label>
            </div>
            <div class="col-md-6 ">
                <input type="date" @bind="ultimoDiaMes" class="form-control" id="fechaFin" placeholder="Enter Date" />
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-md-3">
                <label for="Estado" class="form-label">Estado:</label>
            </div>
            <div class="col-md-6 ">
                <select type="text" class="form-control" list="estados" >
                    <option value="Vigente">Vigente</option>
                    <option value="Cerrado">Cerrado</option>
                </select>
            </div>
        </div>
        
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Cancelar</Button>
        <Button Class="custom-primary-button" Color="ButtonColor.Primary">Guardar</Button>
    </FooterTemplate>
</Modal>
<br/>
<ConfirmDialog @ref="dialog"  />
<div class="mb-3">
    <Button Class="custom-primary-button" Color="ButtonColor.Primary" @onclick="Nuevo"> <Icon Name="IconName.PlusCircle" /> Nuevo</Button>
</div>

<Grid TItem="PeriodoNormal"
      Class="table table-hover  table-bordered table-striped"
      Data="periodos"
      AllowDetailView="true"
      AllowPaging="true"
      PageSize="5"
      HeaderRowCssClass="custom-header-grid"
      Responsive="true"
      >

    <GridColumns>
        <GridColumn TItem="PeriodoNormal" HeaderText="Id" PropertyName="id">
            @context.id
        </GridColumn>
        <GridColumn TItem="PeriodoNormal" HeaderText="Fecha Inicio" PropertyName="fechInicio">
            @context.fechInicio
        </GridColumn>
        <GridColumn TItem="PeriodoNormal" HeaderText="Fecha Fin" PropertyName="fechFin">
            @context.fechFin
        </GridColumn>
        <GridColumn TItem="PeriodoNormal" HeaderText="Estado" PropertyName="estado">
            @context.estado
        </GridColumn>
    </GridColumns>

    <GridDetailView TItem="PeriodoNormal">
        <Grid TItem="PeriodoNormal"
              Class="table table-hover border-top"
              Data="periodos"
              FixedHeader="true"
              Height="240"
              Unit="Unit.Px"
              Responsive="true">

            <GridColumns>
                <GridColumn TItem="PeriodoNormal" Context="periodo" HeaderText="Id" PropertyName="id">
                    @periodo.id
                </GridColumn>
                <GridColumn TItem="PeriodoNormal" Context="periodo" HeaderText="Fecha Inicio" PropertyName="fechInicio">
                    @periodo.fechInicio
                </GridColumn>
                <GridColumn TItem="PeriodoNormal" Context="periodo" HeaderText="Fecha Fin" PropertyName="fechFin">
                    @periodo.fechFin
                </GridColumn>
                <GridColumn TItem="PeriodoNormal" Context="periodo" HeaderText="Estado" PropertyName="estado">
                    @periodo.estado
                    </GridColumn>
                <GridColumn TItem="PeriodoNormal" Context="periodo" HeaderText="Acciones">
                    <Button Class="custom-primary-button" Color="ButtonColor.Primary" TooltipTitle="Editar" @onclick="Editar" Size="ButtonSize.Small"><Icon Name=" IconName.Pencil " /></Button>
                    <Button Color="ButtonColor.Danger" TooltipTitle="Borrar Periodo" @onclick="BorrarPeriodo" Size="ButtonSize.Small"><Icon Name=" IconName.Trash" /></Button>
                    <Button Color="ButtonColor.Danger" TooltipTitle="Bloquear Matrículas" @onclick="BloqMatriculas" Size="ButtonSize.Small"><Icon Name="IconName.PersonSquare" /></Button>
                    <Button Color="ButtonColor.Danger" TooltipTitle="Bloquear Pagos" @onclick="BloqPagos" Size="ButtonSize.Small"><Icon Name="IconName.Coin" /></Button>
                    <Button Color="ButtonColor.Danger" TooltipTitle="Bloquear Notas y Asistencias" @onclick="BloqNotasAsistencias" Size="ButtonSize.Small"><Icon Name="IconName.PersonVCardFill" /></Button>
                </GridColumn>
            </GridColumns>
        </Grid>
    </GridDetailView>
</Grid>
@code {
}
